# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HomeWork_webinar_1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tech-orel\RiderProjects\HomeWork_webinar_1\.idea\.idea.HomeWork_webinar_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
