# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HomeWorkLesson3.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tech-orel\RiderProjects\GeekBrains\HW3\HomeWorkLesson3\.idea\.idea.HomeWorkLesson3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
